body{
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: black;
  border-bottom: 1px solid seashell;
  top: 0px;
  right: 1px;
  left: 1px;
}

header img{
  height: 50px;
  padding: 10px;
}

header nav{
  padding: 10px;
}

header nav span a{
  color: seashell;
  margin: 10px
}
